<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/UX-UI">UX/UI</a></li>
	        		<li><a href="/blog">Illustration</a></li>
	        		<li><a href="/craft">Craft</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mail@uxalot.com">email</a></li>
	        		<li><a href="https://github.com/karinemaras">github.com/karinemaras</a></li>
				</ul>
			</footer>
		</body>
	</html>
